/**
 * Google Fonts
 * - font-family: 'Rock Salt', sans-serif;
 * - font-family: 'Open Sans Condensed', sans-serif;
**/

%rock-salt {
  font-family: 'Rock Salt', sans-serif;
}

%open-sans-300 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}

%open-sans-700 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
