/**
 * Google Fonts
 * - font-family: 'Rock Salt', sans-serif;
 * - font-family: 'Cousine', monospace;
**/

%rock-salt {
  font-family: 'Rock Salt', sans-serif;
}

%cousine {
  font-family: 'Cousine', monospace;
  font-weight: 300;
}
