/**
 * Google Fonts
 * - font-family: 'Rock Salt', sans-serif;
 * - font-family: 'Cousine', monospace;
 * - font-family: 'Quicksand', sans-serif;
**/

%rock-salt {
  font-family: 'Rock Salt', sans-serif;
}

%cousine {
  font-family: 'Cousine', monospace;
}

%quicksand400 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

%quicksand700 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
