// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #ff5600;
$orange:                $brand-primary;
$light-orange:          #ff7100;
$white:                 #fff;
$light-gray:            #f9f9f9;
$dark-gray:             #a7a7a7;
