// Grid system
.main {
  @include make-sm-column($main-sm-columns);
  min-height: calc(100vh - 36px);
  padding-top: 50px;

  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }
}

.sidebar {
  @include make-sm-column($sidebar-sm-columns);
}

/**
 * Isotope Grid
 */
.grid {
  margin-left: 4%;
  margin-bottom: 0;

  @media (min-width: $screen-sm-min) {
    margin-left: 2%;
    margin-bottom: 30px;
  }
}

.grid-item {
  width: 29.5%;
  margin-bottom: 15px;
  z-index: 10;

  @media (min-width: $screen-sm-min) {
    width: 14.5%;
    margin-bottom: 15px;
  }

  @media (min-width: $screen-md-min) {
    margin-bottom: 15px;
  }

  @media (min-width: $screen-lg-min) {
    margin-bottom: 22px;
  }

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  &--open {
    width: 95%;
    z-index: 20;

    @media (min-width: $screen-sm-min) {
      width: 48.2%;
    }

    @media (min-width: $screen-md-min) {
      width: 31%;
    }

    @media (min-width: $screen-lg-min) {
      width: 31.4%;
    }
  }
}

.grid-sizer {
  width: 16.6%;
}

.gutter-sizer {
  width: 4%;
}
